{%extends 'base.html'%}
{% block title %}Password reset {% endblock %}
{%block body%}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1><center>Hooray!</center></h1>
            <br>
            <br>
            <p><center>We've emailed you instructions for setting your password.</center></p>
            <p><center>If you don't receive an email, please make sure you've entered the address you registered with, thank you!.</center></p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}
