{% extends 'base.html' %}
{% load static %}
{% block title %}  Profile Update {% endblock %}
{% block body %}

<!--================Home Banner Area =================-->


<section class="checkout_area padding_top">
    <div class="container">
<div class="billing_details">
    <div class="row">
        <div class="col-lg-8">
            <h3>Profile Details</h3>
            <form class="row contact_form" action="" method="post" >
                {%csrf_token%}
                <div class="col-md-6 form-group ">
                    <input type="text"  class="form-control" required  name="first_name" placeholder="First name" />
                    <span class="placeholder" placeholder="First name"></span>
                </div>
                <div class="col-md-6 form-group ">
                    <input type="text"  class="form-control" required id="last_name" name="last_name" placeholder="Last name"/>
                    <span class="placeholder" placeholder="Last name"></span>
                </div>
                <!-- <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="company" name="company"
                        placeholder="Company name" />
                </div> -->
                <div class="col-md-6 form-group ">
                    <input type="text"  class="form-control" required id="phone" name="phone" placeholder="phone" />
                    <span class="placeholder" placeholder="Phone number"></span>
                </div>
                <div class="col-md-6 form-group ">
                    <input type="email"  class="form-control" required id="email" name="email" placeholder="email"/>
                    <span class="placeholder" placeholder="Email Address"></span>
                </div>
                <!-- <div class="col-md-12 form-group ">
                    <select class="country_select"> -->
                        <!-- <option value="1">Country</option>
          <option value="2">Country</option>
          <option value="4">Country</option> -->
                    <!-- </select>
                </div> -->
                <div class="col-md-12 form-group ">
                    <input type="text"  class="form-control" required id="add_1" name="add_1" placeholder="Address line 01" />
                    <span class="placeholder" placeholder="Address line 01"></span>
                </div>
                <div class="col-md-12 form-group ">
                    <input type="text"  class="form-control" required id="add_2" name="add_2" placeholder="Address line 02" />
                    <span class="placeholder"placeholder="Address line 02"></span>
                </div>
                <div class="col-md-12 form-group ">
                    <input type="text"  class="form-control" required id="city" name="city" placeholder="Town/City"/>
                    <span class="placeholder" placeholder="Town/City"></span>
                </div>
                <div class="col-md-12 form-group ">
                    <input type="text"  class="form-control" required id="country" name="country" placeholder="country" />
                    <span class="placeholder" placeholder="Country"></span>
                </div>
                <!-- <div class="col-md-12 form-group "> -->
                    <!-- <select class="country_select"> -->
                        <!-- <option value="1">District</option>
          <option value="2">District</option>
          <option value="4">District</option> -->
                    <!-- </select> -->
                <!-- </div> -->
                <div class="col-md-12 form-group">
                    <input type="text"  class="form-control" required id="zip_code" name="zip_code" placeholder="{{profile.zip_code}}" />
                </div>
                <!-- <div class="col-md-12 form-group">
        <div class="creat_account">
          <input type="checkbox" id="f-option2" name="selector" />
          <label for="f-option2">Create an account?</label>
        </div>
      </div> -->
                <!-- <div class="col-md-12 form-group">
                    <div class="creat_account">
                        <h3>Shipping Details</h3> -->
                        <!-- <input type="checkbox" id="f-option3" name="selector" />
          <label for="f-option3">Ship to a different address?</label> -->
                    <!-- </div>
                    <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Order Notes"></textarea>
                </div> -->
                <input type="submit" class="btn btn-success" style="margin-left: 15px;" value="Submit">
                <a href="{% url 'my-profile' %}" class="btn btn-primary" style="margin-left: 30px;"  >Go Back</a>
            </form>
        </div>
    </div>
    {%endblock%}